<li class="list-group-item">
	<div class="card">
		<div class="card-header bg-secondary">
			<h5 class="card-title">{{title}}</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">Posted by {{user.username}}
				on {{format_date date_created}}</h6>
		</div>
		<div class="card-body">
			<p class="card-text">{{content}}</p>
		</div>
	</div>
</li>