<form class="mx-4" id="blog-form">
	<h3 class="subtitle">Add New Blog</h3>
	<div class="mb-3">
		<label for="title-input" class="form-label">Title</label>
		<input type="text" class="form-control" id="title-input">
	</div>
	<div class="mb-3">
		<label for="content-input" class="form-label">Content</label>
		<textarea type="text" class="form-control" id="content-input"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/blog.js"></script>