<form class="mx-4" id="signup-form">
	<h3 class="subtitle">Signup</h3>
	<div class="mb-3">
		<label for="username-input" class="form-label">Username</label>
		<input type="text" class="form-control" id="username-input">
	</div>
	<div class="mb-3">
		<label for="password-input" class="form-label">Password</label>
		<input type="password" class="form-control" id="password-input">
	</div>
	<button type="submit" class="btn btn-primary">Sign Up</button>
	<p>
		<a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
			Login instead
		</a>
	</p>
</form>
<script src="/js/signup.js"></script>